footer {
  background-image: url(/assets/imgs/Background_Intro.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 7.5rem 9rem;
  gap: 3rem;
}

footer p {
  font: var(--subtitle);
  color: var(--purple);
}
footer h3 {
  font: var(--title-md);
  color: var(--gray-100);
}
footer h2 {
  font: var(--text-md);
  color: var(--gray-200);
}

.footer-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-cards {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  background-color: var(--gray-400);
  border-radius: 8px;
}

.footer-cards a {
  display: flex;
  align-items: center;
  gap: 1rem;
}